<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Productos:</h1>
  {{#each products}}
    <h2>Nombre:{{title}}</h2>
    <h3>Descipcion:{{description}}</h3>
    <h3>Precio: {{price}}</h3>
    <h3>Stock: {{stock}}</h3>
    <h3>Categoria: {{category}}</h3>
    
    <!-- Agrega más campos o contenido según tus necesidades -->
  {{/each}}
</body>
</html>